/* @import "~bootstrap/dist/css/bootstrap.css" */
.search-form {
    padding-top: 50px;
}
#search {
    padding-top: 20px;
    float: right;
}
.card{
    padding-top: 50 px;
}
.badge{
    padding-left: 30px;
    font-size: medium;
    margin: 10px;
}
/* body {
    background-image: url('..src/assets/img/bac.jpg');
} */
/* 
.card-body {
    background-color: rgb(100, 97, 97);
} */

/* .card-body{
    color: chartreuse;
} */