<form action="" class="search-form">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Git google username" [(ngModel)]="username" name="username" (keyup)="findProfile()" required>
    </div>
    <button type="submit" class="btn btn-outline-primary btn-md" id="search">Search</button>
</form>
<div *ngIf="profile">
    <div class="panel panel-default">
        <h3 class="card-header">
            {{profile.name}}<small *ngIf="profile.login">({{profile.login}})</small>
            <span *ngIf="profile.company">, works at {{profile.company}}</span>
            <span *ngIf="profile.location">, and comes from {{profile.location}}</span>
        </h3>
        <hr>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{profile.avatar_url}}" class="img-circle img-responsive" alt="Profile Image">
                    <!-- </div> -->
                     <!-- <div class="card-body"> -->
                  <div class="">
                    <ul class="card">
                        <li *ngIf="profile.bio" class="list-group-item">{{profile.bio}}</li>
                        <li *ngIf="profile.twitter" class="list-group-item">{{profile.twitter}}</li>
                            <hr>
                        <li *ngIf="profile.company" class="list-group-item">{{profile.company}}</li>
                            <hr>
                        <li *ngIf="profile.location" class="list-group-item">{{profile.location}}</li>
                            <hr>
                        <li *ngIf="profile.blog" class="list-group-item"><a href="{{profile.blog}}" target="_blank">{{profile.blog}}</a></li>
                    </ul>
                    </div>
                 </div>
                <!-- </div> -->
                <div class="col-md-6">
                    <div>
                        <p>
                            <span class="badge btn btn-primary">{{profile.followers}}Followers</span>
                            <span class="badge btn btn-success"> Following {{profile.following}}</span>
                            <span class="badge btn btn-danger">{{profile.public_gists}}Gists</span>
                            <span class="badge btn btn-info">{{profile.public_repos}}Repos</span>
                        </p>
                        <button class="btn btn-outline-success"><a href="{{profile.html_url}}||uppercase">View Profile on github</a></button>
                        <div class="panel panel-default">
                            <div class="jumbotron" id="panel">
                                <h1 class="label label-warning">Repos</h1>
                            </div>
                            <div class="jumbotron" *ngFor="let repo of repos">
                                <p><strong>
                                    {{repo.name}}   <a href="{{repo.html_url}}" target="_blank" class="btn btn-outline-success btn-sm float-right">View this Project in Github</a>
                                </strong></p>
                                <p>
                                    {{repo.description}}
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
